*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slide {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inside {
  font-size: 2em;
  color: white;
  padding: 0 2rem;
  font-family: 'Coming Soon', cursive;
}

.index{
  background-color: #AC96BA; /* color inicial */
  transition: background-color 0.8s ease;
}



.galeria {
  min-height: 100vh; /* mejor que height fijo */
  background: linear-gradient(45deg, #061de3, #e306ca);
  font-family: Helvetica, sans-serif;
  color: rgb(211, 211, 211);

  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}

.descripcionGaleria{
  background: linear-gradient(45deg, #061de3, #e306ca);
}

.descripcion{
  font-size: 2rem;
  color: white;
}

.container {
  width: 350px;
  height: 500px;
  perspective: 500px;
  
}

.container:hover > .card{
  cursor: pointer;
  transform: rotateY(180deg);
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
   backface-visibility: hidden;
}

.front{
  background-size: cover;
  background-position: center;
}

.fondo1{
  background-image: url("image0.jpeg");
}

.fondo2{
  background-image: url("image1.png");
}

.fondo3{
  background-image: url("image2.jpeg");
}

.fondo4{
  background-image: url("image3.jpeg");
}

.fondo5{
  background-image: url("image4.jpeg");
}

.fondo6{
  background-image: url("image5.jpeg");
}

.fondo7{
  background-image: url("image6.jpeg");
}

.fondo8{
  background-image: url("image7.jpeg");
}

.fondo9{
  background-image: url("image8.jpeg");
}

.fondo10{
  background-image: url("image9.jpeg");
}

.fondo11{
  background-image: url("image10.jpeg");
}

.fondo12{
  background-image: url("image11.jpeg");
}

.fondo13{
  background-image: url("image12.jpeg");
}

.fondo14{
  background-image: url("image14.jpeg");
}

.fondo15{
  background-image: url("image15.jpeg");
}

.fondo16{
  background-image: url("image16.jpeg");
}

.fondo17{
  background-image: url("image17.jpeg");
}

.fondo18{
  background-image: url("image18.jpeg");
}

.fondo19{
  background-image: url("image19.jpeg");
}

.back {
  background-color: #3a3a3a;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

.directorio{
  color: palevioletred;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:rgb(172, 150, 186);
    /* background-color: purple; */
    font-size:1.5rem;
}

.nombre{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* color: DarkOliveGreen; */
    color: rgb(70, 71, 132);
    text-align: center;
    font-size: 3rem;
    background-color:rgb(206, 181, 224);
}

.tituloGaleria{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 3rem;
  color: white;
}

.valentin{
  font-size: 5rem;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.año{
  text-align: center;
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
