*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.galeria {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(45deg, #061de3, #e306ca);
  font-family: Helvetica, sans-serif;
  color: rgb(211, 211, 211);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container1 {
  width: 350px;
  height: 500px;
  perspective: 500px;
}

.container1:hover > .card1{
  cursor: pointer;
  transform: rotateY(180deg);
}

.card1 {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front1,
.back1 {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
   backface-visibility: hidden;
}

.front1{
  background-image: url(image0.jpeg);
}

.back1 {
  background-color: #3a3a3a;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.index {
  background: white;
}

.directorio{
  color: palevioletred;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(206, 181, 224);
    /* background-color: purple; */
    font-size:1.5rem;
}

h2{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* color: DarkOliveGreen; */
    color: rgb(70, 71, 132);
    text-align: center;
    font-size: 5rem;
    background-color: rgb(235, 193, 179);
}
