.galeria{
  background: linear-gradient(45deg, #061de3, #e306ca);
  font-family: 'Times New Roman', Times, serif;
}

.container1{
  width: 350px;
  height: 500px;
  display: flex;
}

.container1:hover > card1 {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card1 {
  height: 100%;
  width: 100%;
  transition: transform 1500ms;
  position: relative;
  transform-style: preserve-3d;
}

.front1, .back1{
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.front1{
    background-image: url(image0.jpeg);
    width: "200px";
    height: "200px";
}

.back1{
  background-color: #3a3a3a;
  transform: rotateY(180deg);
  justify-content: center;
  align-items: center;
}

.container2{
  width: 350px;
  height: 500px;
}

.card2{
  height: 100%;
  width: 100%;
}

.front2, .back2{
  height: 100%;
  width: 100%;
}

.front2{
    background-image: url(image1.jpeg);
    width: "200px";
    height: "200px";
}

.container3{
  width: 350px;
  height: 500px;
}

.card3{
  height: 100%;
  width: 100%;
}

.front3, .back3{
  height: 100%;
  width: 100%;
}

.front3{
    background-image: url(image2.jpeg);
    width: "200px";
    height: "200px";
}

.container4{
  width: 350px;
  height: 500px;
}

.card4{
  height: 100%;
  width: 100%;
}

.front4, .back4{
  height: 100%;
  width: 100%;
}

.front4{
    background-image: url(image3.jpeg);
    width: "200px";
    height: "200px";
}

.container5{
  width: 350px;
  height: 500px;
}

.card5{
  height: 100%;
  width: 100%;
}

.front5, .back5{
  height: 100%;
  width: 100%;
}

.front5{
    background-image: url(image4.jpeg);
    width: "200px";
    height: "200px";
}

.container6{
  width: 350px;
  height: 500px;
}

.card6{
  height: 100%;
  width: 100%;
}

.front6, .back6{
  height: 100%;
  width: 100%;
}

.front6{
    background-image: url(image5.jpeg);
    width: "200px";
    height: "200px";
}

.container7{
  width: 350px;
  height: 500px;
}

.card7 {
  height: 100%;
  width: 100%;
}

.front7, .back7{
  height: 100%;
  width: 100%;
}

.front7{
    background-image: url(image6.jpeg);
    width: "200px";
    height: "200px";
}

.container8{
  width: 350px;
  height: 500px;
}

.card8 {
  height: 100%;
  width: 100%;
}

.front8, .back8{
  height: 100%;
  width: 100%;
}

.front8{
    background-image: url(image7.jpeg);
    width: "200px";
    height: "200px";
}

.container9{
  width: 350px;
  height: 500px;
}

.card9{
  height: 100%;
  width: 100%;
}

.front9, .back9{
  height: 100%;
  width: 100%;
}

.front9{
    background-image: url(image8.jpeg);
    width: "200px";
    height: "200px";
}

.container10{
  width: 350px;
  height: 500px;
}

.card10 {
  height: 100%;
  width: 100%;
}

.front10, .back10{
  height: 100%;
  width: 100%;
}

.front10{
    background-image: url(image9.jpeg);
    width: "200px";
    height: "200px";
}

.container11{
  width: 350px;
  height: 500px;
}

.card11 {
  height: 100%;
  width: 100%;
}

.front11, .back11{
  height: 100%;
  width: 100%;
}

.front11{
    background-image: url(image10.jpeg);
    width: "200px";
    height: "200px";
}

.container12{
  width: 350px;
  height: 500px;
}

.card12 {
  height: 100%;
  width: 100%;
}

.front12, .back12{
  height: 100%;
  width: 100%;
}

.front12{
    background-image: url(image11.jpeg);
    width: "200px";
    height: "200px";
}

.container13{
  width: 350px;
  height: 500px;
}

.card13 {
  height: 100%;
  width: 100%;
}

.front13, .back13{
  height: 100%;
  width: 100%;
}

.front13{
    background-image: url(image12.jpeg);
    width: "200px";
    height: "200px";
}

.container14{
  width: 350px;
  height: 500px;
}

.card14 {
  height: 100%;
  width: 100%;
}

.front14, .back14{
  height: 100%;
  width: 100%;
}

.front14{
    background-image: url(image14.jpeg);
    width: "200px";
    height: "200px";
}

.container15{
  width: 350px;
  height: 500px;
}

.card15 {
  height: 100%;
  width: 100%;
}

.front15, .back15{
  height: 100%;
  width: 100%;
}

.front15{
    background-image: url(image15.jpeg);
    width: "200px";
    height: "200px";
}

.container16{
  width: 350px;
  height: 500px;
}

.card16 {
  height: 100%;
  width: 100%;
}

.front16, .back16{
  height: 100%;
  width: 100%;
}

.front16{
    background-image: url(image16.jpeg);
    width: "200px";
    height: "200px";
}

.container17{
  width: 350px;
  height: 500px;
}

.card17 {
  height: 100%;
  width: 100%;
}

.front17, .back17{
  height: 100%;
  width: 100%;
}

.front17{
    background-image: url(image17.jpeg);
    width: "200px";
    height: "200px";
}

.container18{
  width: 350px;
  height: 500px;
}

.card18 {
  height: 100%;
  width: 100%;
}

.front18, .back18{
  height: 100%;
  width: 100%;
}

.front18{
    background-image: url(image18.jpeg);
    width: "200px";
    height: "200px";
}

.container19{
  width: 350px;
  height: 500px;
}

.card19 {
  height: 100%;
  width: 100%;
}

.front19, .back19{
  height: 100%;
  width: 100%;
}

.front19{
    background-image: url(image19.jpeg);
    width: "200px";
    height: "200px";
}
