.galeria{
  background: linear-gradient(45deg, #061de3, #e306ca);
  font-family: 'Times New Roman', Times, serif;
}

.container1{
  width: 350px;
  height: 500px;
}

.card1 {
  height: 100%;
  width: 100%;
}

.front1, .back1{
  height: 100%;
  width: 100%;
}

.front1{
    background-image: url(image0.jpeg);
}
