.galeria{
  background: linear-gradient(45deg, #061de3, #e306ca);
  font-family: 'Times New Roman', Times, serif;
}

.container1{
  width: 350px;
  height: 500px;
  display: flex;
}

.container1:hover > card1 {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card1 {
  height: 100%;
  width: 100%;
  transition: transform 1500ms;
  position: relative;
  transform-style: preserve-3d;
}

.front1, .back1{
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.front1{
    background-image: url(image0.jpeg);
    width: "200px";
    height: "200px";
}

.back1{
  background-color: #3a3a3a;
  transform: rotateY(180deg);
  justify-content: center;
  align-items: center;
}
